# docker-compose.yml

version: '3.9'

services:
  web:
    build: .
    command: gunicorn bus_booking.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  celery:
    build: .
    command: celery -A bus_booking worker --loglevel=info
    volumes:
      - .:/code
    depends_on:
      - redis
    env_file:
      - .env

  celery-beat:
    build: .
    command: celery -A bus_booking beat --loglevel=info
    volumes:
      - .:/code
    depends_on:
      - redis
    env_file:
      - .env
