version: "3.9"

services:
  web:
    build: .
    command: gunicorn bus_booking.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/static
    ports:
      - "8000:8000"
    env_file:
      - .env.prod

volumes:
  static_volume:
